* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 10px;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.heading-md {
  color: #FFFFFF;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.heading-sm {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
}

.text-base {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 24px;
}

.primary-btn,
.secondary-btn {
  background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
  border: 1px solid #000000;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 16px;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
}

/* Header Section CSS */
header {
  background-color: #1A0B2E;
  padding: 24px 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
}

.logo > span {
  background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
  background-clip: text;
  color: transparent
}

.navbar-menu {
  font-size: 1.6rem;
  display: none;
  gap: 32px;
  list-style: none;
}

.menu-link {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar > button {
  display: none;
}

/* Hero Section CSS */
.hero {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: top;
  padding: 40px 20px;
}

.hero-img-container {
  position: relative;
  margin: 0 auto 24px;
  max-width: 250px;
}

#hero-circle {
  width: 100%;
}

#hero-img {
  max-width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.batch {
  background-color: #00FF88;
  border-radius: 50px;
  box-shadow: 0 3px 27px 0 rgba(0,255,136,0.5);
  color: #1A0B2E;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  right: 20px;
  top: 0;
}

.hero-content {
  color: #FFFFFF;
  margin-inline: auto;
  max-width: 550px;
  text-align: center;
}

.hero-content > h1 {
  font-size: 4rem;
  font-weight: 800;
}

.hero-content > p {
  margin: 8px auto 24px;
  max-width: 400px;
}

.btn-group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* About Section CSS */
.about {
  background-color: #1A0B2E;
  padding: 40px 20px;
}

.about-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px auto 0;
  max-width: 600px;
  text-align: center;
}

.horizontal-line {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-block: 40px;
}

.stats-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: auto;
  max-width: 400px;
}

.stat-card {
  text-align: center;
}

.stat-card h1 {
  color: #00FF88;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 16px;
}

/* Responsive CSS */
@media screen and (min-width: 577px) {
  /* Hero Section Responsive CSS */
  .hero-img-container {
    max-width: 300px;
  }

  .batch {
    right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .heading-md {
    font-size: 4rem;
  }

  /* Navbar Section Responsive CSS */
  .navbar-menu {
    display: flex;
  }
  
  .navbar > button {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  /* Hero Section Responsive CSS */
  .hero {
    padding: 60px 20px;
  }

  .hero-content > h1 {
    font-size: 5rem;
  }

  /* About Section Responsive CSS */
  .about-desc {
    max-width: 800px;
  }

  .horizontal-line {
    margin-block: 80px;
  }
}

@media screen and (min-width: 992px) {
  .heading-md {
    font-size: 4.8rem;
  }

  /* Hero Section Responsive CSS */
  .hero-img-container {
    max-width: 350px;
  }

  .batch {
    font-size: 1.8rem;
    right: 40px;
    top: 10px;
  }

  .hero {
    padding-block: 100px;
  }

  .hero-content > h1 {
    font-size: 6rem;
  }

  #hero-img {
    max-width: 200px;
  }

  /* About Section Responsive CSS */
  .about {
    padding: 50px 0 120px;
  }

  .horizontal-line {
    margin-block: 80px;
  }

  .stats-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
  }

  .stat-card h1 {
    font-size: 4.8rem;
  }
}