* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 10px;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.text-linear-gradient {
  background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
  background-clip: text;
  color: transparent
}

.heading-md {
  color: #FFFFFF;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.heading-sm {
  color: #FFFFFF;
  font-size: 2.2rem;
  font-weight: 700;
}

.text-base {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 24px;
}

.primary-btn,
.secondary-btn {
  background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
  border: 1px solid #000000;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 16px;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
}

main {
  background-color: #1A0B2E;
}

.about,
.choose,
.featured,
.host {
  padding: 40px 20px;
}

/* Header Section CSS */
header {
  background-color: #1A0B2E;
  padding: 24px 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar-menu {
  font-size: 1.6rem;
  display: none;
  gap: 32px;
  list-style: none;
}

.menu-link {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar > button {
  display: none;
}

/* Hero Section CSS */
.hero {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: top;
  padding: 40px 20px;
}

.hero-img-container {
  position: relative;
  margin: 0 auto 24px;
  max-width: 250px;
}

#hero-circle {
  width: 100%;
}

#hero-img {
  max-width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.batch {
  background-color: #00FF88;
  border-radius: 50px;
  box-shadow: 0 3px 27px 0 rgba(0,255,136,0.5);
  color: #1A0B2E;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  right: 20px;
  top: 0;
}

.hero-content {
  color: #FFFFFF;
  margin-inline: auto;
  max-width: 550px;
  text-align: center;
}

.hero-content > h1 {
  font-size: 4rem;
  font-weight: 800;
}

.hero-content > p {
  margin: 8px auto 24px;
  max-width: 400px;
}

.btn-group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* About Section CSS */
.about-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.horizontal-line {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-block: 40px;
}

.stats-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: auto;
  max-width: 400px;
}

.stat-card {
  text-align: center;
}

.stat-card h1 {
  color: #00FF88;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 16px;
}

/* Choose Section CSS */
.choose {
  background-color: #230E3D;
}

.choose-card-container {
  display: grid;
  gap: 16px;
}

.choose-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

/* Featured Section CSS */
.featured-card-container {
  display: grid;
  gap: 16px;
  justify-content: center;
  max-width: 400px;
}

.featured-card {
  background-color: #250D44;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.featured-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.featured-card-content > span {
  color: #00FF88;
}

/* Host Section CSS */
.host-card {
  background-color: rgba(53, 17, 101,0.4);
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.about-host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.social-container a {
  border: 1px solid #533C72;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

/* Footer Section CSS */
footer {
  background-image: url("./assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  padding-block: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700; 
  text-decoration: none;
}

.platforms {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.platforms-icon-container {
  display: flex;
  gap: 16px;
}

.platforms-icon-container div {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Responsive CSS */
@media screen and (min-width: 577px) {
  /* Hero Section Responsive CSS */
  .hero-img-container {
    max-width: 300px;
  }

  .batch {
    right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .heading-md {
    font-size: 4rem;
    margin-bottom: 32px;
  }

  .heading-sm {
    font-size: 2.4rem;
  }

  .about,
  .choose,
  .featured {
    padding: 80px 20px;
  }

  /* Navbar Section Responsive CSS */
  .navbar-menu {
    display: flex;
  }
  
  .navbar > button {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  /* Hero Section Responsive CSS */
  .hero {
    padding: 60px 20px;
  }

  .hero-content > h1 {
    font-size: 5rem;
  }

  /* About Section Responsive CSS */
  .about-desc {
    max-width: 800px;
  }

  .horizontal-line {
    margin-block: 80px;
  }

  /* Choose Section Responsive CSS */
  .choose-card-container {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Featured Section Responsive CSS */
  .featured-card-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
  }

  /* Host Section Responsive CSS */
  .host {
    padding: 0px 20px 80px;
  }

  .host-card {
    flex-direction: row;
    gap: 24px;
    padding: 40px;
  }

  .about-host {
    align-items: start;
    text-align: left;
  }

  /* Footer Section Responsive CSS */
  footer {
    padding-block: 80px;
    gap: 32px;
  }

  .footer-logo {
    font-size: 4.8rem;
  }

  .platforms {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .heading-md {
    font-size: 4.8rem;
    margin-bottom: 40px;
  }

  .about,
  .choose,
  .featured {
    padding: 120px 20px;
  }

  /* Hero Section Responsive CSS */
  .hero-img-container {
    max-width: 350px;
  }

  .batch {
    font-size: 1.8rem;
    right: 40px;
    top: 10px;
  }

  .hero {
    padding-block: 100px;
  }

  .hero-content > h1 {
    font-size: 6rem;
  }

  #hero-img {
    max-width: 200px;
  }

  /* About Section Responsive CSS */
  .about {
    padding-top: 80px;
  }

  .horizontal-line {
    margin-block: 80px;
  }

  .stats-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
  }

  .stat-card h1 {
    font-size: 4.8rem;
  }

  /* Choose Card Section Responsive CSS  */
  .choose-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .choose-card {
    justify-content: center;
  }

  .choose-card:first-child {
    grid-row: span 2;
  }

  .choose-card:nth-child(2),
  .choose-card:nth-child(3),
  .choose-card:nth-child(4)  {
    grid-column: span 2;
  }

  /* Featured Section Responsive CSS */
  .featured-card-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }

  /* Host Section Responsive CSS */
  .host {
    padding: 0px 20px 120px;
  }

  /* Footer Section Responsive CSS */
  footer {
    padding-block: 120px;
  }

  .footer-logo {
    font-size: 5.4rem;
  }

  .platforms {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .platforms-icon-container {
    gap: 40px;
  }
}